{
"presets": ["react-native"],
"plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "app": "./app",
        "components": "components",

        "redux": "redux",
        "sagas": "redux/sagas",
        "ducks": "redux/ducks",

        "resources": "resources",
        "services": "services",
        "screens": "screens",
	"utils": "utils",
      }
    }]
  ]
}
