{
"presets": ["react-native"],
"plugins": ['transform-decorators-legacy',
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "app": "./app",
        "components": "components",
        "resources": "resources",
        "services": "services",
        "screens": "screens",
        "stores": "stores",
	      "lib": "lib",
        "underscore": "lodash"
      }
    }]
  ]
}
